* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Anton, sans-serif;
    
}

a {
    outline: none;
    color: black;
}

.main-header {
    background-color: rgba(108, 125, 129, 0.26);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 3rem;
    font-weight: bold;
    transition: background-color 0.5s;
}

.main-header:hover {
    background-color: rgba(108, 125, 129, 0.98);

}

.main-header__brand {
    font-size: 2rem;
    padding: 0 1rem;
    align-self: flex-start;
}

.main-header__brand a {
    text-decoration: none;
}


.main-nav_items {
    display: flex;
    padding: 0 2rem;

}

.main-nav_item {
    list-style: none;
    width: 4rem;
}

.main-nav_item a {
    text-decoration: none;
    cursor: pointer;
    border-bottom: solid transparent;
    transition: border-bottom 0.5s;
}

.main-nav_item a:hover {
    border-bottom: solid black;
}

.togle-menu {

    display: none;
    border-radius: 10%;
    cursor: pointer;

}

.togle-menu__line {
    width: 1.25rem;
    height: 3px;
    margin: 4px;
    background-color: black;
    border-radius: 25%;
}

.side-bar {
    visibility: visible;
    transition: visibility 0s, opacity 0.2s linear;
}

#home, #bio, #contatti {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home {
    background-image: url(/img/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 80%;

}

.home-div img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#contatti {
    background-color: lightgray;
    height: 90vh;
}

.color {
    background-color: rgba(108, 125, 129, 0.98);
}

.credist {
    display: flex;
    height: 10vh;
    background-color: rgba(108, 125, 129, 0.98);
    color: white;
    justify-content: center;
    align-items: center;
}

.fab, .fas{
    font-size: min(20vw, 200px);
    cursor: pointer;
    margin: 5vh;
    color: rgba(108, 125, 129, 0.699);
    transition: color 0.5s;
}

.fab:hover, .fas:hover {
    color: black;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

@media  screen and (min-width: 601px) {
    .side-bar {
        display: none;
    }

}

@media  screen and (max-width: 600px) {

    .main-header {
    background-color: rgba(108, 125, 129, 0.98);
    }

    .main-nav {
        display: none;
    }

    .togle-menu {
        display: inline-block;
        padding: 0 1rem;
    
    }

    .side-bar {
        position: fixed;
        top: 2.5rem;
        right: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(108, 125, 129, 0.98);
        text-align: center;
    }

    .side-bar__item {
        list-style: none;
        padding: 11vh 0;
    }

    .side-bar__item a {
        text-decoration: none;
    }

    
}