* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Anton, sans-serif;
}

.main-header {
    background-color: rgba(108, 125, 129, 0.26);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 3rem;
    font-weight: bold;
}

.main-header:hover {
    background-color: rgba(108, 125, 129, 0.98);

}

.main-header__brand {
    display: inline;
    padding: 0 1rem;
}

.main-header__brand a {
    text-decoration: none;
    color: black;
}


.main-nav_items {
    display: flex;
    padding: 0 1rem;

}

.main-nav_item {
    list-style: none;
    width: 4rem;
}

.main-nav_item a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.togle-menu {

    display: none;
    border-radius: 10%;
    cursor: pointer;

}

.togle-menu__line {
    width: 1.25rem;
    height: 2px;
    margin: 4px;
    background-color: black;
}

#home, #bio, #contatti {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home {
    background-image: url(/img/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 80%;

}

.home-div img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#contatti {
    background-color: lightgray;
}

.hide {
    display: none;
}

.color {
    background-color: rgba(108, 125, 129, 0.98);
}

@media  screen and (max-width: 700px) {

    .main-header {
    background-color: rgba(108, 125, 129, 0.98);
    }

    .main-nav {
        display: none;
    }

    .togle-menu {
        display: inline-block;
        padding: 0 1rem;
    
    }

    .side-bar {
        position: fixed;
        top: 2.5rem;
        right: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(108, 125, 129, 0.98);
        text-align: center;
    }

    .side-bar__item {
        list-style: none;
        padding: 11vh 0;
    }

    .side-bar__item a {
        text-decoration: none;
        color: black;
    }


    
}