@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#main-intro {
    background-image: url(sky.jpg);
    background-size: cover;
    background-position: 20% 80%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-intro div {
    color: black;
    text-align: center;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(108, 125, 129, 0.26);
    z-index: 1;
    width: 100%;
}

.main-header__brand{
    padding: 16px;
}

.main-header__brand a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}



.main-nav__items {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 400px;
}


.main-nav__items a {
    text-decoration: none;
    text-decoration: none;
    color: black;
    font-weight: 500;
}


.main-intro__img {
    height: 150px;
    border-radius: 50%;
}

#main-intro h1 {
    padding: 16px;
}

.main-intro__desc {
    font-family: 'Dancing Script', cursive;
}

#bio {
    display: inline-block;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bio__elements {

}

#contatti {
    display: inline-block;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: rgb(202, 202, 202);
    display: flex;
    justify-content: center;
    align-items: center;


}
.contatti__items {

}

@media  screen and (max-width: 700px) {
    .main-nav {
        display: none;
    }
}